* {
  margin: 0;
  padding: 0;
}
/*NAVBAR*/
.logoFika {
  width: 80px;

}

.navbar {
  background-color: rgb(113, 111, 111);
  font-size: 150%;
  color: black;
}

.nav-item {
  display: flex;
  justify-content: center;
  border: 5px;
}

.nav-item:hover {
  background-color: rgb(176, 175, 175);
  color: transparent;
}

.carrito {
  display: flex;
  font-size: 50px;
  justify-content: center;
}

.dropdown-menu {
  background-color: rgb(113, 111, 111);
  font-size: 100%;
  color: black;
  border: none;
}

.dropdown-menu:hover {
  background-color: rgb(176, 175, 175);
}

/* CONTADOR */

.contador {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
  font-size: 30px;
}

.botonResta {
  background-color: rgb(239, 2, 2);
}

.botonSuma {
  background-color: rgb(4, 240, 4);

}

/* ITEM LIST CONTAINER*/

.card {
 width: 20rem;
 max-height: 30rem;
  margin: 5px;
  border: solid black 3px;
}

.card-img-top {
  min-height: 310px;
  max-width: 500px;
}

/* ITEM DETAIL CONTAINER*/

.itemDetail{
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}

/*FOOTER*/

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: black;
  padding: 20px;
  margin-top: 50px;
}

.redesLogos{
 list-style: none;
 display: flex;
 flex-direction: wrap;
 padding-left: 15px;
 padding-right: 15px;
 font-size: 30px;
}

