* {
  margin: 0;
  padding: 0;
}
/*NAVBAR*/
.logoFika {
  width: 80px;

}

.navbar {
  background-color: rgb(113, 111, 111);
  font-size: 150%;
  color: black;
}

.nav-item {
  display: flex;
  justify-content: center;
  border: 5px;
}

.nav-item:hover {
  background-color: rgb(176, 175, 175);
  color: transparent;
}

.carrito {
  display: flex;
  font-size: 50px;
  justify-content: center;
}