* {
  margin: 0;
  padding: 0;
}
/*NAVBAR*/
.logoFika {
  width: 80px;

}

.navbar {
  background-color: rgb(113, 111, 111);
  font-size: 150%;
  color: black;
}

.nav-item {
  display: flex;
  justify-content: center;
  border: 5px;
}

.nav-item:hover {
  background-color: rgb(176, 175, 175);
  color: transparent;
}

.carrito {
  display: flex;
  font-size: 50px;
  justify-content: center;
}


/* CONTADOR */

.contador {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
  font-size: 30px;
}

.botonResta {
  background-color: rgb(239, 2, 2);
}

.botonSuma {
  background-color: rgb(4, 240, 4);

}

/* ITEM LIST CONTAINER*/
.itemList {
  display: flex;
  justify-content: center;
}
.productoImagen {
  max-height: 300px;
  max-width: auto;
}

.productoDescripcion{
 font-size: 25px;
}

/* ITEM DETAIL CONTAINER*/

.itemDetail{
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}